@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --main-bg: #1e1e1e;
  --main-white: #ffffff;
  --main-accent: #ff4d00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", Sans-serif;
}

p {
  color: var(--main-accent);
}
