@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --main-bg: #1e1e1e;
  --main-white: #ffffff;
  --main-accent: #ff4d00;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", Sans-serif;
  color: var(--main-white);
}

/* Body */
body {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  padding-bottom: 999px;
}

/* Navbar */
.navbar {
  width: 100%;
}

.navbar .navbar-link-list {
  display: flex;
  column-gap: 120px;
  list-style-type: none;
  /* horizontal center */
  justify-content: center;
  /* vertikal center */
  align-items: center;
  /* vertikal, horizontal */
  padding: 32px 40px;
}
.navbar-list-item a {
  text-decoration: none;
  font-size: 15px;
}

/* hero */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 120px;
}

.hero-content-left {
  display: flex;
  align-items: end;
}

.hero-teks {
  font-size: 140px;
  font-weight: bold;
  width: 554px;
  line-height: 102%;
  letter-spacing: -1%;
}

.hero-image {
  display: flex;
  width: 400px;
  height: 561px;
  overflow: hidden;
  padding: 10px;
}
.gambar-paus {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

/* About */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 90px 120px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 500px;
}

.about-title {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 40px;
}
.about-teks {
  text-align: justify;
  font-size: 35px;
}
/* .about-image{
  display:flex;
    width: 400px;
    height: 561px;
    overflow:hidden;
    padding: 10px;
}

.gambar-minion{
  width: 100%;
  height: 100%;
  border-radius: 9px;
  object-fit:cover;
} */

/* experience */

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 120px;
}

.experience-title {
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 50px;
}

.experience-content {
  display: flex;
  gap: 90px;
}

.experience-items {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 3px;
  border: 2px solid white;
  padding: 10px;
  background-color: var(--main-white);
  box-shadow: 3px 3px 9px #00ffff;
}
.experience-title-item {
  color: var(--main-bg);
  padding-bottom: 9px;
}
