@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --main-bg: #1e1e1e;
  --main-white: #ffffff;
  --main-accent: #ff4d00;
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", Sans-serif;
  color: var(--main-white);
}

/* Body */
body {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  padding-bottom: 99px;
}

/* Navbar */
.navbar {
  width: 100%;
}

.navbar .navbar-link-list {
  display: flex;
  column-gap: 120px;
  list-style-type: none;
  /* horizontal center */
  justify-content: center;
  /* vertikal center */
  align-items: center;
  /* vertikal, horizontal */
  padding: 32px 40px;
}
.navbar-list-item a {
  text-decoration: none;
  font-size: 15px;
}

/* hero */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 120px;
  position: relative;
}

.hero-content-left {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.hero-teks {
  font-size: 140px;
  padding-bottom: 90px;
  font-weight: bold;
  width: 554px;
  line-height: 102%;
  letter-spacing: -1%;
  display: inline-block;
}

.hero-image {
  display: flex;
  width: 400px;
  height: 561px;
  overflow: hidden;
  padding-bottom: 130px;
}
.gambar-paus {
  width: 100%;
  height: auto;
  border-radius: 3px;
  object-fit: cover;
}

/* About */

.about {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  /* padding: 0 120px; */
  position: relative;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 500px;
  padding-bottom: 90px;
}

.about-title {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  margin: 45px 0;
  /* background-color: red; */
}
.about-teks {
  text-align: justify;
  font-size: 35px;
  padding: 35px 0;
  /* background-color: red; */
}
/* .about-image{
  display:flex;
    width: 400px;
    height: 561px;
    overflow:hidden;
    padding: 10px;
}

.gambar-minion{
  width: 100%;
  height: 100%;
  border-radius: 9px;
  object-fit:cover;
} */

/* experience */

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 60px 120px;
  position: relative;
}

.experience-title {
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 50px;
}

.experience-content {
  display: flex;
  padding: 20px;
  gap: 90px;
}

.experience-items {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  border-radius: 3px;
  border: 2px solid var(--main-white);
  padding: 10px;
  background-color: var(--main-white);
  box-shadow: 3px 3px 9px rgba(0, 255, 255, 0.9);
}
.experience-title-item {
  color: var(--main-bg);
  padding-bottom: 9px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  padding-bottom: 30px;
}
.contact-title {
  font-size: 70px;
  font-weight: bold;
  text-align: end;
}
.contac-list {
  display: inline-block;
  horizontal-align: start;
  padding-top: 50px;
  padding-end: 20px;
  position: relative;
}
.contac-list a {
  margin: 50px;
}
.contac-list a img {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  width: 10%;
}

/* .bio {
  display: flex;
  justify-content: center;
}

.bio-teks {
  font-size: 20px;
}
.bio-teks span {
  display: inline-block;
} */

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .bio-teks {
  display: inline-block;
  font-size: 20px;
}
.bio-teks span {
  display: inline-block;
} */

.end-teks {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.25rem;
  line-height: 1.1;
}
.end-teks span {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  color: var(--main-white);
}
